{% extends "layout.html" %}
{% block scripts %}
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'stylesheet.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'typeahead.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'navigation.css'}) }}" />
{% endblock %}
{% block body %}
<div class="well">
    <div class="container">
        <h1>Thanks for registering!</h1>
    </div>
</div>
<div class="container">
    <p>We've sent an email to the address you provided. It should arrive shortly. Once it does,
    click the link inside to complete your registration. If you run into any trouble, please send an email to
    <a href="mailto:{{ support_mail }}">{{ support_mail }}</a> to get it sorted out.</p>
</div>
{% endblock %}
