{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'stylesheet.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'typeahead.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'navigation.css'}) }}" />
{% endblock %}
{% block body %}
<div class="error-banner" style="background-image: url('{{ path_for('images', {'filename': 'error.png'}) }}')">
    <div class="container">
        <h3>500 Internal Error</h3>
        <p>Clearly you've broken something. Maybe if you refresh no one will notice.</p>
        <p>
            <a href="{{ path_for('index') }}" class="btn btn-primary">Browse Mods</a>
            <a href="mailto:{{ support_mail }}" class="btn btn-primary">Contact Support</a>
        </p>
    </div>
</div>
{#<p class="pull-right">Image credit: <a href="http://www.reddit.com/user/Calebm12">/u/Calebm12</a></p>#}
{% endblock %}
