<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="search" type="application/opensearchdescription+xml" title="{{ site_name }}" href="{{ path_for('static', {'filename': 'opensearch.xml'}) }}" />
        <meta property="og:image" content="{{ path_for('images', {'filename': 'SpaceDock-Icon-Text-Transparent@2x.png'}) }}" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ path_for('images', {'filename': 'apple-touch-icon-57x57.png'}) }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ path_for('images', {'filename': 'apple-touch-icon-60x60.png'}) }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ path_for('images', {'filename': 'apple-touch-icon-72x72.png'}) }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ path_for('images', {'filename': 'apple-touch-icon-76x76.png'}) }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ path_for('images', {'filename': 'apple-touch-icon-114x114.png'}) }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ path_for('images', {'filename': 'apple-touch-icon-120x120.png'}) }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ path_for('images', {'filename': 'apple-touch-icon-144x144.png'}) }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ path_for('images', {'filename': 'apple-touch-icon-152x152.png'}) }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ path_for('images', {'filename': 'apple-touch-icon-180x180.png'}) }}">
        <link rel="icon" type="image/png" href="{{ path_for('images', {'filename': 'favicon-32x32.png'}) }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ path_for('images', {'filename': 'android-chrome-192x192.png'}) }}" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ path_for('images', {'filename': 'favicon-96x96.png'}) }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ path_for('images', {'filename': 'favicon-16x16.png'}) }}" sizes="16x16">
        <link rel="manifest" href="{{ path_for('static', {'filename': 'manifest.json'}) }}">
        <link rel="mask-icon" href="{{ path_for('images', {'filename': 'safari-pinned-tab.svg'}) }}" color="#204499">
        <link rel="shortcut icon" href="{{ path_for('images', {'filename': 'favicon.ico'}) }}">
        <meta name="msapplication-TileColor" content="#204499">
        <meta name="msapplication-TileImage" content="{{ path_for('images', {'filename': 'mstile-144x144.png'}) }}">
        <meta name="msapplication-config" content="{{ path_for('static', {'filename': 'browserconfig.xml'}) }}">
        <meta name="theme-color" content="#204499">
        {% block title %}
        <title>{{ site_name }}</title>
        {% endblock %}
        <link rel="stylesheet" href="{{ path_for('styles', {'filename': 'bootstrap.min.css'}) }}">
        <link rel="stylesheet" href="{{ path_for('styles', {'filename': 'zebra_dialog.css'}) }}">
        {% block styles %}
        {% endblock %}
        {% if user.dark_theme %}
        <link rel="stylesheet" href="{{ path_for('styles', {'filename': 'bootstrap_dark.min.css'}) }}">
        {% endif %}
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            var backend = "//{{ backend_url }}";
            var gameshort = "{{ gameshort }}";
        </script>
    </head>
    <body class="{% if user %}logged-in{% endif %}">
    <span id="site">
        {% block nav %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path_for('index') }}">
                      <div itemscope itemtype="http://schema.org/Organization">
                        <img src="{{ path_for('images', {'filename': 'OpenDock-Icon-Text-Transparent.png'}) }}"
                        width="183" height="43" alt="OpenDock" itemprop="logo" />
                      </div>
                    </a>
                    {% if admin %}
                    <p class="navbar-text" style="color: white">Admin</p>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/random">Random Mod</a></li>
                        <!--<li><a href="mumble://spacedock.info/SpaceDock?title=Lobby&version=1.2.0">Mumble</a></li>-->
                        <li><a href="{{ irc_channel }}" target="_blank">Chat</a></li>
                        <!--<li><a href="/blog">Blog</a></li>-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right" v-if="currentUser == null">
                        {% if registration %}
                        <li><a href="{{ path_for('accounts.register') }}">Register</a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Log In <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <form role="form" action="/login" method="POST">
                                    <input type="text" id="username" placeholder="Username" name="username">
                                    <input type="password" id="password" placeholder="Password" name="password">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember-me" id="remember-me">
                                            Remember Me
                                        </label>
                                    </div>
                                    <input type="button" value="Log In" class="btn btn-primary" id="loginSubmit" v-on:click="loginUserHotbar()">
                                </form>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path_for("accounts.forgot_password") }}">
                                        <span class="glyphicon glyphicon-question-sign"></span> Forgot Password
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" v-else>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="usernameDisplay">Welcome ${currentUser.username}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/create/mod">
                                        <span class="glyphicon glyphicon-open"></span> Create a New Mod
                                    </a>
                                </li>
                                <li>
                                    <a href="/create/pack">
                                        <span class="glyphicon glyphicon-list"></span> Create a New Pack
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="view-user-profile">
                                        <span class="glyphicon glyphicon-user"></span> View Your Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="edit-user-profile">
                                        <span class="glyphicon glyphicon-pencil"></span> Edit Your Profile
                                    </a>
                                </li>
                                {% if admin %}
                                <li>
                                    <a href="{{ path_for("admin.backend") }}">
                                        <span class="glyphicon glyphicon-fire"></span> Admin Stuff
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-remove"></span> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% block search %}
                    <form class="navbar-form navbar-search" role="search" action="/search" method="GET">
                        <div class="form-group">
                            <input type="text" class="form-control search-box" name="query" placeholder="Search mods...">
                        </div>
                    </form>
                    {% endblock %}
                </div>
            </div>
        </nav>
        {% endblock %}
        <div class="alert alert-info alert-dismissable alert-fixed hidden" id="alert-follow">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Done!</strong> You'll get emailed updates for this mod.
        </div>
        {% if donation_header_link %}
        <div class="centered alert alert-danger alert-dismissable no-margin" id="alert-donate">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ site_name }} needs your help! Please consider <a href="{{ donation_link }}" class="alert-link">donating</a> to keep us online.
        </div>
        {% endif %}
        {% block body %}{% endblock %}
        <footer>
            <div class="container centered">
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="{{ source_code }}">Source Code</a></li>
                            <li><a href="{{ source_code }}/blob/master/api.md">API</a></li>
                            <li><a href="{{ path_for("privacy") }}">Terms & Privacy</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="mailto:{{ support_mail }}">Support</a></li>
                            {% if not irc_channel == "" %}
                            <li><a href="{{ irc_channel }}" target="_blank">IRC</a></li>
                            {% endif %}
                            {% if not donation_link == "" %}
                            <li><a href="{{ donation_link }}">Donate</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </span>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
        <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
        {% if debug %}
        <script src="//vuejs.org/js/vue.js"></script>
        {% else %}
        <script src="//vuejs.org/js/vue.min.js"></script>
        {% endif %}
        <script src="{{ path_for('scripts', {'filename': 'jquery.loading.block.js'}) }}"></script>
        <script src="{{ path_for('scripts', {'filename': 'zebra_dialog.js'}) }}"></script>
        <script src="{{ path_for('scripts', {'filename': 'bootstrap.min.js' }) }}"></script>
        <script src="{{ path_for('scripts', {'filename': 'underscore.min.js'}) }}"></script>
        <script src="{{ path_for('scripts', {'filename': 'chart.js'}) }}"></script>
        <script src="{{ path_for('scripts', {'filename': 'sdb.js'}) }}"></script>
        <script src="{{ path_for('scripts', {'filename': 'utils.js'}) }}"></script>
        <script>
            showLoading();
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
