{% extends "templates/layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'mod.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'stylesheet.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'typeahead.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'navigation.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'timeline.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'listing.css'}) }}" />
{% endblock %}
{% block scripts %}
<script src="{{ path_for('scripts', {'filename': 'mod.js'}) }}"></script>
<script src="{{ path_for('scripts', {'filename': 'stats.js'}) }}"></script>
<script type="text/javascript">
    var mod_id = {{ modid }};
    var gameshort = '{{ gameshort }}';
    fillMod();
</script>
{% endblock %}
{% block body %}
<div class="header" v-bind:style="'background-image: url(' + mod.meta.background + ');'" id="backgroundHeader" v-if="mod.meta.background"></div>
<div class="header" style="background-image: url({{ path_for('images', {'filename': 'background.png'}) }});" id="backgroundHeader" v-else></div>

{% if new %}
<div class="well info well-sm">
    <div class="container">
        <h1>Your mod has been created!</h1>
        <p>You aren't quite done, though. Read through your listing, add some flair, and publish it!</p>
    </div>
</div>
{% endif %}
{% if stupid_user %}
<div class="well danger well-sm">
    <div class="container">
        <h1>You haven't finished filling out your mod listing!</h1>
        <p>Before you publish it, you should at least <a href="">edit your description</a>.</p>
    </div>
</div>
{% endif %}
<div class="well warning well-sm" v-if="currentUser != null && mod_users[currentUser.id] && mod_users[currentUser.id].accepted === false">
    <div class="container">
        <h1>You have been invited to co-author this mod</h1>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary btn-block" id="accept-authorship-invite" v-on:click="acceptAuthorshipInvite(currentUser, mod, function(data) { window.location = window.location })">Accept</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default btn-block" id="reject-authorship-invite" v-on:click="rejectAuthorshipInvite(currentUser, mod, function(data) { window.location = window.location })">Reject</button>
            </div>
        </div>
    </div>
</div>
<div class="container lead">
    <div class="row">
        <div class="col-md-8">
            <h1 v-bind:title="mod.name">
                ${mod.name}
                <span class="badge" title="This mod is listed in CKAN." v-if="mod.meta.ckan">CKAN</span>
            </h1>
        </div>
        <div v-bind:class="currentUser == null ? 'col-md-4' : 'col-md-2'" id="downloadWrapper">
            <a class="btn btn-block btn-lg btn-primary piwik_download" id="download-link-primary" v-on:click="onDownloadLinkClick(currentUser)" v-bind:href="'//{{ backend_url }}/api/mods/' + mod.game_short + '/{{ modid }}/download/' + mod.default_version.friendly_version">
                Download
            </a>
        </div>
        <div class="col-md-2" v-if="currentUser != null">
            <a href="#" class="unfollow-button btn btn-block btn-lg btn-warning" v-if="isFollower" v-on:click.prevent="unfollowMod(mod, function(data) { isFollower = !isFollower; mod.follower_count--; })">Unfollow</a>
            <a href="#" class="follow-button btn btn-block btn-lg btn-warning" v-else v-on:click.prevent="followMod(currentUser, mod, function(data) { isFollower = !isFollower; mod.follower_count++; })">Follow</a>
        </div>
    </div>
</div>

<div class="info-list">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="timeline-centered">
                    
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-copyright"></span>
                            </div>
                            <div class="timeline-label">
                                <h2 v-bind:title="mod.license" id="modLicense">
                                    <span class="text-muted">
                                        License:
                                    </span>
                                    ${mod.license}
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="timeline-label">
                                <h2 id="modVersion">
                                    <span class="text-muted">
                                        KSP Version:
                                    </span>
                                    ${mod.default_version.gameversion.friendly_version}
                                </h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="timeline-entry" v-if="mod.meta.source_link">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-tasks"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Source code:
                                    </span>
                                    <a v-bind:href="mod.meta.source_link">${mod.meta.source_link}</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-download"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Downloads:
                                    </span>
                                    ${mod.download_count}
                                </h2>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6">
                <div class="timeline-centered">
                    
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted" v-if="mod.shared_authors.length == 0">
                                        Author:
                                    </span>
                                    <span class="text-muted" v-else>
                                        Authors:
                                    </span>
                                    <a v-bind:href="'/profile/' + mod_users[mod.user].username">${mod_users[mod.user].username}</a>
                                    <template v-for="(author, i) in mod.shared_authors" v-if="author.accepted">,<a v-bind:href="'/profile/' + mod_users[i].username" >${mod_users[i].username}</a></template>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-entry" v-if="mod.meta.external_link">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Mod Website:
                                    </span>
                                    <a v-bind:href="mod.meta.external_link">${mod.meta.external_link}</a>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-entry" v-if="mod.meta.donation_link">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-gift"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Support this mod:
                                    </span>
                                    <a v-bind:href="mod.meta.donation_link">Donate</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-heart"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Followers:
                                    </span>
                                    ${mod.follower_count}
                                </h2>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well well-sm danger" v-if="outdated">
    <div class="container">
        <h1>Outdated Mod</h1>
        <p>This mod is not known to work with the latest version of Kerbal Space Program. Proceed with caution.</p>
    </div>
</div>

<div class="well" style="margin-bottom: 0;" v-if="editable">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 style="margin-top: 0">Author Tools</h2>
                <p>These are the tools you can use to manage your mod listing. You can also
                <a v-bind:href="'{{ path_for('mod.view', {'gameshort': '<gameshort>', 'id': '<id>', 'name': '<name>'}) }}?noedit'.replace(/<gameshort>/, mod.game_short).replace(/<id>/, mod.id).replace(/<name>/, mod.name)">view your mod</a> as if you were not logged
                in.</p>
            </div>
            <div class="col-md-8">
                <a href="#" class="btn btn-success btn-block btn-lg" v-if="!mod.published" v-on:click.prevent="publishMod(mod, function(data) { updateMod(); })">Publish this Mod</a>
                <a href="" class="btn btn-info btn-block btn-lg">Edit this Mod</a>
                <a v-bind:href="'{{ path_for('mod.update', {'id': '<id>', 'name': '<name>'}) }}'.replace(/<id>/, mod.id).replace(/<name>/, mod.name)" class="btn btn-primary btn-block btn-lg">Update this Mod</a>
                <a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger btn-block btn-lg" v-if="deletable">Delete this Mod</a>
                <template v-if="featureable && mod.published">
                <a href="#" class="btn btn-default btn-block btn-lg feature-button" v-if="!isFeatured" v-on:click.prevent="featureMod(mod, function(data) { isFeatured = !isFeatured; })">
                    <span class="fa fa-fire"></span>
                    Feature this mod
                </a>
                <a href="#" class="btn btn-default btn-block btn-lg unfeature-button" v-else  v-on:click.prevent="unfeatureMod(mod, function(data) { isFeatured = !isFeatured; })">
                    <span class="fa fa-fire"></span>
                    Remove feature
                </a>
                </template>
            </div>
        </div>
        <template v-if="editable && new Date(mod.default_version.gameversion.created).getTime() < new Date(Enumerable.from(game_versions).first('v=>!v.beta').created).getTime()">
        <hr />
        <div class="alert alert-info" style="margin-bottom: 0;">
            <p>
                This mod seems to be outdated. Is the latest version compatible with Kerbal Space Program ${Enumerable.from(game_versions).first('v=>!v.beta').friendly_version}?
                <button style="margin-left: 10px;" class="btn btn-primary autoupdate" data-toggle="modal" data-target="#confirm-update">Yes, update automatically</button>
                <a href=" ">No, update manually</a>
            </p>
        </div>
        </template>
    </div>
</div>

<div class="tab-container">
    <div class="mod-tabs container">
        <a data-toggle="tab" href="#info" class="btn btn-primary">Information</a>
        <a data-toggle="tab" href="#changelog" class="btn btn-warning">Changelog</a>
        <a data-toggle="tab" href="#stats" class="btn btn-info">Stats</a>
    </div>
</div>

<div class="container">
    <div class="tab-content">
        <div class="tab-pane active" id="info" v-html="marked(mod.description)"> </div>
        <div class="tab-pane" id="changelog">
            <div class="timeline-centered">
            <template v-for="v in mod.versions">
                <div class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <div class="timeline-icon timeline-icon-shadow-light">
                            <span v-bind:class="'fa fa-' + (v.beta ? 'wrench' : 'asterisk')"></span>
                        </div>
                        <div class="timeline-label">
                            <h2>Version ${v.friendly_version} <small>for Kerbal Space Program ${v.gameversion.friendly_version}</small><small v-if="v.beta"> (Beta Version)</small></h2>
                            <p><small class="text text-muted">Released on ${v.created.split('T')[0]}</small></p>
                            <span v-if="v.changelog" v-html="marked(v.changelog)"></span>
                            <span v-else><p><em>No changelog provided</em></p></span>
                            <p v-bind:data-version="v.id">
                                <a class="btn btn-primary piwik_download" v-bind:href="'//{{ backend_url }}/api/mods/' + mod.game_short + '/{{ modid }}/download/' + v.friendly_version">
                                    <span class="fa fa-download"></span> Download
                                </a>
                                <template v-if="editable">
                                <button class="btn btn-danger edit-version" v-on:click="editVersionPopup(v)">
                                    <span class="fa fa-pencil"></span> Edit
                                </button>
                                <button class="btn btn-danger delete-version" v-on:click="deleteVersionPopup(v)" v-if="v.id != mod.default_version_id">
                                    <span class="fa fa-trash"></span> Delete
                                </button>
                                <span class="hidden raw-changelog">${v.changelog}</span>
                                <button class="set-default-version btn btn-danger" v-on:click="setDefaultVersion(mod, v, function(data) { updateMod(); })" v-if="v.id != mod.default_version_id && !v.beta">
                                    <span class="fa fa-check"></span> Set as default
                                </button>
                                </template>
                            </p>
                        </div>
                    </div>
                </div>
            </template>
            </div>
        </div>
        <div class="tab-pane" id="stats">
            <h2>Stats for ${mod.name}</h2>
            <div class="row">
                <div class="col-md-8">
                    <h3>Downloads over time</h3>
                    <canvas id="downloads-over-time" class="canvas-chart" width=750 height=300></canvas>
                    <ul id="downloads-over-time-key" class="chart-key"></ul>
                    <h3>New followers per day</h3>
                    <canvas id="followers-over-time" class="canvas-chart" width=750 height=300></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<template v-if="editable">
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Mod</h4>
            </div>
            <div class="modal-body">
                <p>
                Are you really, really, really sure you want to delete this mod? You can't undo this.</p>
            </div>
            <div class="modal-footer">
                <form action="" method="POST">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <input type="button" class="btn btn-danger" value="Delete Mod" v-on:click="deleteMod(mod, function(data) { window.location.href = '{{ path_for('index') }}'; })">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="version-edit-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Version <span class="version-number"></span></h4>
                </div>
                <div class="modal-body">
                    <p>You may edit your changelog here:</p>
                    <textarea class="changelog-text form-control input-block-level" rows=8 name="changelog" v-model="version_edit_changelog"></textarea>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" id="editVersionDismiss" data-dismiss="modal">Cancel</a>
                    <input type="button" class="btn btn-primary" value="Save Edit" v-on:click="editVersion(mod, version_to_edit, {'changelog': version_edit_changelog}, function(data) { editVersionPopup(null); if (!data.error) { updateMod(); } })">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-update" tabindex="-1" role="dialog" aria-labelledby="confirm-delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/mod/{{ mod.id }}/autoupdate" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Update Automatically</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to modify version ${mod.default_version.friendly_version} of ${mod.name} to
                    support Kerbal Space Program ${Enumerable.from(game_versions).first('v=>!v.beta').friendly_version}. An email will be sent to
                    ${mod.follower_count} followers to tell them the good news. Sounds good?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <input type="submit" class="btn btn-danger" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-delete-version" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete Version</h4>
                </div>
                <div class="modal-body">
                    <p>This will forever delete this version of ${mod.name}. There is no undoing this action.
                    Are you sure you wish to continue?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" id="deleteVersionDismiss" data-dismiss="modal">Cancel</a>
                    <input type="button" class="btn btn-danger" value="Confirm" v-on:click="deleteVersion(mod, Enumerable.from(mod.versions).first('v=>v.id==' + version_to_delete), function(data){ deleteVersionPopup(null); if (!data.error) { updateMod(); } })">
                </div>
            </form>
        </div>
    </div>
</div>
</template>
<div class="modal fade" id="register-for-updates" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" action="/register" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Thanks for downloading ${mod.name}!</h4>
                </div>
                <div class="modal-body">
                    <p>Want us to email you when it updates?</p>
                    <input type="hidden" name="follow-mod" v-bind:value="mod.id" />
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" placeholder="Username" name="username" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input type="password" class="form-control" id="password" name="repeatPassword" placeholder="Repeat password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-2">
                            <a href="#" class="btn btn-default btn-block btn-lg" data-dismiss="modal">Not now</a>
                        </div>
                        <div class="col-sm-5">
                            <a href="#" id="do-not-offer-registration" class="btn btn-default btn-block btn-lg" data-dismiss="modal" v-on:click="createCookie('do-not-offer-registration', 1, 365 * 10)">Not ever</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
