{% extends "templates/layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'stylesheet.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'typeahead.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'navigation.css'}) }}" />
{% endblock %}
{% block scripts %}
<script src="{{ path_for('scripts', {'filename': 'register.js'}) }}"></script>
<script type="text/javascript">
    fillRegister();
</script>
{% endblock %}
{% block body %}
<div class="well">
    <div class="container">
        <h1>Register for {{ site_name }}</h1>
    </div>
</div>
{% if not registration %}
<div class="container">
    <div class="row">
        <p>
            Registration is disabled until we are fully online.
        </p>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div v-bind:class="'form-group' + (emailError ? ' has-error' : '')">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="regEmail" placeholder="Email" name="email" v-model="email">
                        <span class="text-danger" v-if="emailError">${emailError}</span>
                    </div>
                </div>
                <div v-bind:class="'form-group' + (usernameError ? ' has-error' : '')">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="regUsername" placeholder="Username" name="username" v-model="username">
                        <span class="text-danger" v-if="usernameError">${usernameError}</span>
                    </div>
                </div>
                <div v-bind:class="'form-group' + (passwordError ? ' has-error' : '')">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="regPassword" name="password" placeholder="Password" v-model="password">
                        <span class="text-danger" v-if="passwordError">${passwordError}</span>
                    </div>
                </div>
                <div v-bind:class="'form-group' + (repeatPasswordError ? ' has-error' : '')">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="password" class="form-control" id="regRepeatPassword" name="repeatPassword" placeholder="Repeat password" v-model="repeatPassword">
                        <span class="text-danger" v-if="repeatPasswordError">${repeatPasswordError}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="button" value="Register" class="btn btn-primary" v-on:click="registerUser(email, username, password, repeatPassword, function(e, u, p, r) { emailError = e; usernameError = u; passwordError = p; repeatPasswordError = r; })">
                        <a href="{{ path_for('index') }}" class="btn btn-link">Nevermind</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <p>Hi there! Ready to make an account? You'll be able to:</p>
            <ul>
                <li>Upload new mods</li>
                <li>Keep track of your favorite mods</li>
                <li>Tell your friends "I have a {{ site_name }} account!"</li>
                <li>Replace the "Log In" link with a "Log Out" link</li>
                <li>And <sup>not</sup> much more!</li>
            </ul>
            <p>If you run into any trouble, please <a href="mailto:{{ support_mail }}">get in touch</a>.</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
