{% extends "templates/layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'mod.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'stylesheet.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'typeahead.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'navigation.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'timeline.css'}) }}" />
<link rel="stylesheet" type="text/css" href="{{ path_for('styles', {'filename': 'listing.css'}) }}" />
{% endblock %}
{% block scripts %}
<script src="{{ path_for('scripts', {'filename': 'view-profile.js'}) }}"></script>
<script type="text/javascript">
    var user_id = "{{ userid }}";
    fillViewProfile();
</script>
{% endblock %}
{% block body %}
<div class="header" v-bind:style="'background-image: url(' + user.meta.background + '); background-position: 0 0;'" v-if="user.meta.background"></div>
<div class="header" style="background-image: url({{ path_for('images', {'filename': 'background.png'}) }});" v-else></div>
<div class="container lead">
    <div class="row">
        <div class="col-md-10">
            <h1 v-bind:title="user.username">${user.username} <small>on {{ site_name }}</small></h1>
        </div>
        <div class="col-md-2" v-if="editable">
            <a href="" class="btn btn-default btn-block">Edit Profile</a>
        </div>
    </div>
</div>
<div class="well well-sm danger" v-if="editable && !user.public">
    <div class="container">
        <h3>
            Your profile is currently private.
            <small><button data-toggle="modal" data-target="#confirm-public" class="btn btn-warning btn-lg pull-right">Make Public</button></small>
        </h3>
        <p>You cannot upload new mods or create new lists unless you make your profile public.</p>
    </div>
</div>
<div class="info-list">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="timeline-centered">
                    <div class="timeline-entry" v-if="user.meta.forumUsername">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-comment"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Forums:
                                    </span>
                                        ${user.meta.forumUsername}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-entry" v-if="user.meta.twitterUsername">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-twitter"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Twitter:
                                    </span>
                                    <a target="_blank" v-bind:href="'https://twitter.com/' + user.meta.twitterUsername">
                                        @${user.meta.twitterUsername}
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-entry" v-if="user.meta.redditUsername">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-reddit-alien"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Reddit:
                                    </span>
                                    <a target="_blank" v-bind:href="'https://www.reddit.com/user/' + user.meta.redditUsername">
                                        /u/${user.meta.redditUsername}
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-entry" v-if="user.meta.ircNick">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon timeline-icon-shadow">
                                <span class="fa fa-hashtag"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        IRC:
                                    </span>
                                    ${user.meta.ircNick}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <span v-html="marked(user.description)"></span>

                <template v-if="viewFull">
                <p>
                <span class="text-muted">Email:</span> <a v-bind:href="'mailto:' + user.email">${user.email}</a><br />
                <span class="text-muted">Confirmed:</span>
                    <template v-if="user.confirmation == ''">Yes</template>
                    <template v-else>
                        No
                        <a href="#" v-on:click.prevent="confirmUserManually(user, function(data) { updateViewProfile(); })" v-if="canConfirm">[Confirm Manually]</a>
                    </template>
                <br />
                <span class="text-muted">Public:</span> <template v-if="user.public">Yes</template><template v-else>No</template><br />
                <span class="text-muted">Created:</span> ${user.created}
                </p>
                <a href="#" class="btn btn-primary" style="margin-bottom: 10px;" v-on:click.prevent="impersonateUser(user, function(data) { window.location.reload(); })" v-if="canImpersonate">
                    <span class="fa fa-fire"></span>
                      Impersonate user
                </a>
                </template>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-public" tabindex="-1" role="dialog" aria-labelledby="confirm-public" aria-hidden="true" v-if="editable && !user.public">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Publicize Profile</h4>
            </div>
            <div class="modal-body">
                This action cannot be undone. Once public, always public.
                All of the info on this page will be shown to anyone who wants to see it, and you'll be listed in the profile directory.
            </div>
            <div class="modal-footer">
                <form>
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <input type="button" class="btn btn-primary" value="Publicize Profile" v-on:click="makeUserPublic(user, function(data) { updateViewProfile(); })">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
