/* @import "stylesheet"; */

.upload-mod {
    height: 300px;
    border: 5px dotted #ccc;
    line-height: 280px;
}

.upload-mod a, .upload-mod p {
    font-size: 32pt;
}

.upload-mod a:hover, .upload-mod p:hover {
    text-decoration: none;
}